
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>List of equipments</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--Body content-->

            <ul class="equipments">
                <li ng-repeat="equipment in equipments" class="thumbnail">
                    <a ui-sref="equipmentDetails({'equipmentId' : {{equipment.id}} })" class="thumb"><img ng-src="{{equipment.imageUrl}}"></a>
                    <a ui-sref="equipmentDetails({'equipmentId' : {{equipment.id}} })">{{equipment.name}}</a>
                    <p>{{equipment.snippet}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>